@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /*Primary*/
 --Orange: hsl(26, 100%, 55%);
 --Pale-orange: hsl(25, 100%, 94%);

 /*Neutral*/
 --Very-dark-blue: hsl(220, 13%, 13%);
 --Dark-grayish-blue: hsl(219, 9%, 45%);
 --Grayish-blue: hsl(220, 14%, 75%);
 --Light-grayish-blue: hsl(223, 64%, 98%);
 --White: hsl(0, 0%, 100%);
 --Black :(with 75% opacity for lightbox background): hsl(0, 0%, 0%);
}
img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 70%;
  height: 100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

nav.open {
  top: 0;
  left: 0;
  background-color: white;
  @apply shadow-2xl p-8 lg:shadow-none lg:p-0;
}

nav ul {
  padding-top: 60px;
  @apply flex items-start flex-col gap-4 lg:flex-row;
}

nav ul li {
  @apply font-bold text-lg cursor-pointer lg:font-normal lg:text-base;
}

.close {
  @apply absolute top-8 left-8;
  z-index: 999;
}

@media (min-width: 1024px) {
  .big-image {
    height: 900px;
  }

  nav {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    z-index: auto;
  }

  nav.open {
    background-color: transparent;
  }

  nav ul {
    padding-top: 0;
  }
}